AWSTemplateFormatVersion: "2010-09-09"
Description: Prepare new instructions
Parameters:
  BucketName:
    Type: String
    Description: The name for the bucket hosting your website
    Default: skiagenda
Resources:
  SkiAgendaLambdaRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Effect: "Allow"
            Principal:
              Service: "lambda.amazonaws.com"
            Action: "sts:AssumeRole"
      Policies:
        - PolicyName: "DynamoDBWriteAccess"
          PolicyDocument:
            Statement:
              - Effect: "Allow"
                Action: "dynamodb:PutItem"
                Resource: "*"
